@model DatabaseManager.Models.ExecuteSubmission
@{
    ViewBag.Title = "Execute SQL";
}
<!-- Database Information -->
<div class="card bg-light mb-3">
    <div class="card-header">
        <strong>@Model.Database.Name</strong>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">
            <i>Server:</i> <strong>@Model.Database.Host.Hostname</strong><br />
            <i>Type:</i> <strong>@Model.Database.Host.Type @Model.Database.Host.Version</strong><br />
            <i>Created:</i> <strong>@Model.Database.Created</strong>
            <img src="~/Images/@(Model.Database.Host.Developer).png" alt="@Model.Database.Host.Developer" class="float-right" />
        </li>
    </ul>
</div>

<!-- Execute Form -->
<p class="mb-1">SQL Command</p>
@using (Html.BeginForm("ExecuteSQL", "Action", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-row">
        <div class="form-group col-md-9">
            <input class="form-control" data-val="true" data-val-required="Please enter an SQL command." id="Command" name="Command" placeholder="SQL Command" type="text" value="">
            @Html.ValidationMessageFor(m => m.Command, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-2">
            <input type="submit" value="Run SQL" class="btn btn-info btn-block" />
        </div>
        <div class="form-group col-md-1"> 
            <input type="button" value="Exit" class="btn btn-secondary btn-block" onclick="location.href = '/View/Database/@Model.Database.DatabaseID';" />
        </div>
    </div>
}

<!-- Results Window -->
@if (Model.Result != null)
{
<p class="mb-1">SQL Results</p>
<div class="error-output">
    <pre class="mb-0 text-white">@Html.Raw(Model.Result)</pre>
</div>
}