@model List<DatabaseManager.Models.ServerInfo>
@{
    ViewBag.Title = "Servers";
}
<!-- Server Information Cards -->
@for (int i = 0; i < Model.Count; i++)
{
    <div class="card mb-3">
        <div class="card-header">
            <strong>@Model[i].Hostname</strong>
            <button type="button" class="btn btn-success btn-sm float-right" onclick="location.href = '/Action/Create/@Model[i].ServerID';">Create New Database</button>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted">
                <i>Type:</i> <strong>@Model[i].Type @Model[i].Version</strong><br />
                <i>Location:</i> <strong>@Model[i].Location</strong><br />
                <i>Database Count (yours/total):</i> <strong>@Model[i].YourDatabases.Count/@Model[i].TotalDatabases</strong>
                <img src="~/Images/@(Model[i].Developer).png" alt="@Model[i].Developer" class="float-right" />
                <table id="Databases_@Model[i].ServerID" class="table table-striped table-hover table-sm text-muted" style="display:none;">
                    <tbody>
                        @for (int j = 0; j < Model[i].YourDatabases.Count; j++)
                        {
                            <tr>
                                <td><a href="~/View/Database/@Model[i].YourDatabases[j].DatabaseID" class="text-dark"><u>@Model[i].YourDatabases[j].Name</u></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        </ul>

        <div class="card-footer text-center" style="border-top:none;">
            <button type="button" id="ShowDatabases_@Model[i].ServerID" class="btn btn-outline-secondary btn-xs" onclick="showDatabases('@Model[i].ServerID');">View Your Databases</button>
            <button type="button" id="HideDatabases_@Model[i].ServerID" class="btn btn-outline-secondary btn-xs" style="display:none;" onclick="hideDatabases('@Model[i].ServerID');">Hide Databases</button>
        </div>
    </div>
}

<button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "View")'">View All Databases</button>
<p class="block float-right text-muted"><strong>Total Servers: @Model.Count</strong></p>

@section Scripts {
    @Scripts.Render("~/scripts/custom_viewserver")
}
