@model DatabaseManager.Models.BackupSubmission
@{
    ViewBag.Title = "Backup";
}
<!-- Database Information -->
<h4>1. Database Information</h4>
<hr />
<div class="card bg-light mb-3">
    <div class="card-header">
        <strong>@Model.Database.Name</strong>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">
            <i>Server:</i> <strong>@Model.Database.Host.Hostname</strong><br />
            <i>Type:</i> <strong>@Model.Database.Host.Type @Model.Database.Host.Version</strong><br />
            <i>Created:</i> <strong>@Model.Database.Created</strong>
            <img src="~/Images/@(Model.Database.Host.Developer).png" alt="@Model.Database.Host.Developer" class="float-right" />
        </li>
    </ul>

</div>

<!-- Backup Information -->
<h4>2. Backup Information</h4>
<hr />

<!-- Backup Form -->
@using (Html.BeginForm("Backup", "Action", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Nickname">Backup Nickname <small class="text-muted"><i>(not required)</i></small></label>
            @Html.TextBoxFor(m => m.Nickname, new { @class = "form-control", @placeholder = "Backup Nickname" })
            <small class="text-muted">Backup will be saved as <i><u>@(Model.Database.Name)_@(Model.Database.Host.Hostname.Substring(0, Model.Database.Host.Hostname.IndexOf('.')))_@(Model.Database.Host.Version)_[timestamp]<span id="BackupNickname"></span>.@Model.Database.Host.Protocol.ToLower()</u></i>.</small><br />
            @Html.ValidationMessageFor(m => m.Nickname, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="form-check">
                @Html.RadioButtonFor(m => m.Method, "Save", new { @class = "form-check-input", @checked = "checked" })
                <label class="form-check-label" for="Save">Save backup to DatabaseMgr.</label>
            </div>
            <div class="form-check">
                @Html.RadioButtonFor(m => m.Method, "Download", new { @class = "form-check-input" })
                <label class="form-check-label" for="Download">Download backup to my computer.</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Backup Database" class="btn btn-success" />
        <input type="button" value="Cancel" class="btn btn-secondary" onclick="location.href = '/View/Database/@Model.Database.DatabaseID';" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/scripts/custom_actionbackup")
}
