@model DatabaseManager.Models.ChangePasswordSubmission
@{
    ViewBag.Title = "Change Password";
}
<!-- Database Information -->
<h4>1. Database Information</h4>
<hr />
<div class="card bg-light mb-3">
    <div class="card-header">
        <strong>@Model.Database.Name</strong>
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">
            <i>Server:</i> <strong>@Model.Database.Host.Hostname</strong><br />
            <i>Type:</i> <strong>@Model.Database.Host.Type @Model.Database.Host.Version</strong><br />
            <i>Created:</i> <strong>@Model.Database.Created</strong>
            <img src="~/Images/@(Model.Database.Host.Developer).png" alt="@Model.Database.Host.Developer" class="float-right" />
</div>

<!-- New Password -->
<h4>2. New Password</h4>
<hr />

<!-- Change Form -->
@using (Html.BeginForm("ChangePassword", "Action", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="DatabaseName">Old Password</label>
            <input type="password" class="form-control" value="@Model.Database.Password" readonly>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="NewPassword">New Password</label>
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "New Password", @value = Model.NewPassword })
            <small id="GeneratedPassword" class="text-muted">Randomly-generated, secure password. You'll be able to see it later.<br /></small>
            <small id="UniquePassword" class="text-muted" style="display:none;">Passwords must be 8+ characters long and contain a letter, a number, and a special character.<br /></small>
            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            <label for="NewPasswordVerify">Verify New Password</label>
            @Html.PasswordFor(m => m.NewPasswordVerify, new { @class = "form-control", @placeholder = "Verify New Password", @value = Model.NewPasswordVerify })
            <small class="text-muted">Passwords must match.</small>
            @Html.ValidationMessageFor(m => m.NewPasswordVerify, "", new { @class = "text-danger" })
        </div>
    </div>
    <div id="DoNotSaveBlock" class="alert alert-warning" role="alert" style="display:none;">
        <h5>Trying to be confidential?</h5>
        <hr />
        @Html.CheckBoxFor(m => m.DoNotSave)
        <label for="SaveLogin">Do not save login credentials. </label><br />
        <small><i>This will limit the functionality of Database Manager. Only use if necessary.</i></small>
    </div>
    <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary" />
        <input type="button" value="Cancel" class="btn btn-secondary" onclick="location.href = '/View/Database/@Model.Database.DatabaseID';" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/scripts/custom_actionchangepassword")
}
